<div style="width: 100%; height: 100vh;">
  <nolm-map [map]="map">
    <nolm-map-controls>
      <div [map]="map" [nolmMapControl]="{style: 'bottom: 0.5em; left: 0.5em; opacity: 0.5;'}">
        <mat-slide-toggle>Toggle me!</mat-slide-toggle>
      </div>
      <div [map]="map" [nolmMapControl]="{style: 'top: 0.5em; left: 2.5em; opacity: 0.5;'}">
        <nolm-layer-tree-button [map]="map"></nolm-layer-tree-button>
      </div>
      <div [map]="map" [nolmMapControl]="{style: 'top: 0.5em; left: 5.5em; opacity: 0.5;'}">
        <button mat-mini-fab color="primary"  matTooltip="Coordinate" [matMenuTriggerFor]="coordinateMenu">
          <mat-icon aria-hidden="false" aria-label="Coordinate">place</mat-icon>
        </button>
        <mat-menu #coordinateMenu="matMenu">
          <button mat-menu-item [nolmAddCoordinate]="{map: map}">Add Coordinate</button>
          <button mat-menu-item [nolmGoToCoordinate]="{map: map}">Go To Coordinate</button>
        </mat-menu>
      </div>
      <div [map]="map" [nolmMapControl]="{style: 'top: 0.5em; left: 8.5em; opacity: 0.5;'}">
        <button mat-mini-fab color="primary"  matTooltip="Measure" [matMenuTriggerFor]="measureMenu">
          <mat-icon aria-hidden="false" aria-label="Measure">border_color</mat-icon>
        </button>
        <mat-menu #measureMenu="matMenu">
          <button mat-menu-item [nolmGetDistance]="{map: map}">Get Distance</button>
          <button mat-menu-item [nolmGetArea]="{map: map}">Get Area</button>
          <button mat-menu-item [nolmClearMeasure]="{map: map}">Clear Measure</button>
        </mat-menu>
      </div>
    </nolm-map-controls>
  </nolm-map>
</div>